body {
  width: 100%;
  box-sizing: border-box;
  position: relative;

}

.gen-content {
  margin: auto;
  width: 90%;
  
}

.ingredientsTitle {
  margin-top: 10px;
  font-size: 1.25rem;
}

html { 
  background: url(./assets/movienight2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.genre {
  margin: 50px;
  text-align: center;
}

.cuisine {
  margin: 50px;
  text-align: center;
}

.go-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.hero-body {
  text-align: center;
  margin: 30px;
}

.hero.is-small
.hero-body {
  padding: 0.5rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.title {
  font-size: 70px;
}

.title.is-4 {
  font-size: 1.75rem;
  background-color: white;
  margin-bottom: 0px;
}

h4 {
  background-color: white;
  margin-top: 10px;
}

option {
  font-weight: bolder;
}

img {
  width: 20em;
  margin-top: 4em;
  margin-top: 4em;
  margin-left: 7em;
  margin-bottom: 1em;
}

#recipeOutput {
  padding: 0%;
  
}

#movieOutput {
  padding: 0%;
}

.card-body.text-center {
  background-color: white;
  font-size: 1.5rem;
  
}

ul {
  background-color: white;
}

.label {
  color: white;
}