.container-fluid {
  background-image: url("./background.jpeg");
    height: 100vh;
  }
  
  .genre {
    margin: 50px;
    text-align: center;
  }
  
  .cuisine {
    margin: 50px;
    text-align: center;
  
  }
  
  .go-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  }
  
  .hero-body {
    text-align: center;
    margin: 30px;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
  } 
  
  .title {
    font-size: 70px;
  }
  
  option {
    font-weight: bolder;
  }
